<%# app/views/questions/show.html.erb %>

<div class="container mx-auto p-4">

  <%# 質問 %>
  <div class="card bg-base-100 shadow-lg mb-8">
    <div class="card-body">
      <h1 class="text-3xl font-bold mb-4"><%= @question.title %></h1>

      <div class="flex items-center mb-2">
        <% if @question.user.profile && @question.user.profile.avatar.present? %>
          <%= image_tag @question.user.profile.avatar.thumb.url, class: "rounded-full w-10 h-10 mr-2" %>
        <% else %>
          <%= image_tag "default_avatar.png", alt: "名無しさん", class: "rounded-full w-10 h-10 mr-2" %>
        <% end %>
        <div>
          <p class="font-bold"><%= link_to @question.user.try(:profile).try(:user_name) || '名無しさん', profile_path(@question.user) %></p>
          <p class="text-sm text-gray-500"><%= l @question.created_at, format: :long %></p>
          <% if @question.category.present? %>
            <p class="text-sm">カテゴリ: <%= @question.category.name %></p>
          <% end %>
          <% if @question.spot.present? %>
          <p class="text-sm"> スポット: <%= @question.spot.name%></p>
          <% end %>
        </div>
      </div>
        <div class="prose">
        <%= simple_format(@question.body) %>
      </div>

      <% if @question.user == current_user %>
        <div class="flex items-center justify-end gap-2 mt-2">
          <%= link_to "編集", edit_question_path(@question), class: "btn btn-secondary btn-sm mr-2" %>
          <%= button_to "削除", question_path(@question),
            method: :delete,
            form: { data: { turbo_confirm: '本当に削除しますか？' } },
            class: "btn btn-error btn-sm" %>
        </div>
      <% end %>
    </div>
  </div>

  <%# ベストアンサー %>
  <% if @question.best_answer.present? %>
    <div class="card bg-base-200 shadow-lg mb-8">
      <div class="card-body">
        <h2 class="text-2xl font-bold mb-2">ベストアンサー</h2>
         <%= render partial: "answers/answer", locals: { answer: @question.best_answer, best_answer: true } %>
      </div>
    </div>
  <% end %>

  <%# 回答一覧 %>
  <h2 class="text-2xl font-bold mb-4">回答一覧</h2>

  <div id="answers" class="space-y-4">
    <% @answers.each do |answer| %>
      <% if @question.best_answer != answer %>
        <%= render "answers/answer", answer: answer, best_answer: false %>
      <% end %>
    <% end %>
  </div>

  <%# 回答投稿フォーム %>
  <h2 class="text-2xl font-bold mt-8 mb-4">回答を投稿</h2>
  <%= render "answers/form", question: @question, answer: @answer %>

</div>