<%# app/views/blogs/_form.html.erb %>
<%= form_with(model: blog) do |form| %>
 <div class="flex flex-wrap gap-4">

   <%# 左側: フォーム %>
   <div class="w-full md:w-1/2">
     <div class="form-control">
       <%= form.label :title, "タイトル", class: "label" %>
       <%= form.text_field :title, class: "input input-bordered" %>
     </div>

     <div class="form-control">
       <%= form.label :category_id, 'カテゴリ', class: "label" %>
       <%= form.collection_select :category_id, Category.all, :id, :name, { include_blank: 'カテゴリを選択' }, { class: 'select select-bordered' } %>
     </div>

     <div class="form-control">
       <%= form.label :spot_name, "スポット", class: "label" %>
       <%= form.text_field :spot_name, class: "input input-bordered" %>
     </div>

     <div class="form-control">
       <%= form.label :status, "状態", class: "label" %>
       <%= form.select :status, Blog.statuses.keys, { prompt: "状態を選択してください" }, { class: "select select-bordered" } %>
     </div>

     <div class="form-control">
       <%= form.label :content, "本文", class: "label" %>
       <%= form.rich_text_area :content, data: { images_target: "trixEditor" }, class: "textarea textarea-bordered min-h-[15rem]" %>
     </div>
      <div class="mt-4">
       <%= form.submit "投稿", class: "btn btn-primary" %>
     </div>
   </div>

   <%# 右側: 画像関連 %>
   <div class="w-full md:w-1/2" data-controller="images">
     <h2>アップロード済みの画像</h2>
     <%= link_to "画像をアップロード", new_image_path, class: "btn btn-secondary btn-sm mb-2" %>
     <div class="image-grid" id="image-list">
       <%= render "images/index", images: current_user.images %>
     </div>

     <h2>サムネイル画像</h2>
     <%= form.label :thumbnail_image_id, "サムネイル画像を選択", class: "label" %>
     <%= form.collection_select :thumbnail_image_id, current_user.images, :id, :title, include_blank: "なし", class: "select select-bordered" %>
   </div>
 </div>
<% end %>